/*导航条样式效果*/
body{
    background-color: #1c1c1c;
}
#nav{
    width: 100%;height: 10vh;position: fixed;top: 0;left: 0;z-index: 9999;
}
#nav > .title{
    color: #FFA500;
    width: 10%;height: 100%;font-size: 3vw;position: absolute;top: 3vh;left: 10vw;
    line-height: 100%;font-weight: bold;font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}
#navbar{
    position: absolute;top: 2vw;right: 2vw;overflow: auto;
    cursor: pointer;width: 30%;height: 100%;
}
#navbar li{
    width: 20%;height: 100%;float: left;padding: 0 1vh;
}
#navbar li a{
    text-align: center;line-height: 100%;
    font-size: 2vw;color:#FFA500;font-weight: 700;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
    position: relative;
}
#navbar li :before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    border-bottom: solid 4px;
    -webkit-transition: width .3s ease-in;
    transition: width .3s ease-in;
}
#navbar li a:hover {
    color: #FFA500;
}
#navbar li :hover:before {
    width: 100%;
}
/*主体视差滚动开始*/
.parallax{
    position: relative;
    width: 98%;
    height: 300px;
    margin: 0 auto;
    padding: 180px 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.parallax.parallax-1 {
    background-image: url("../image/1-bg-platform.jpg");
    background-position: 100% 100%;
}

.parallax.parallax-2 {
    background-image: url("../image/home-ilu.png");
    background-position: 0% 100%;
}
.parallax.parallax-2 > .about{
    position: absolute;top: 10%;left: 10%;
}
.parallax.parallax-2 > .about p{
    text-align: left;font-size: 1.2vw;line-height: 150%;color:#fff;font-weight: 700;
}
.parallax.parallax-2 > .about h1{
    font-size: 3vw;color:#fff;margin-bottom: 5%;
}
.parallax.parallax-3 {
    background-image: url("../image/3-bg-platform.jpg");
    background-position: 100% 100%;
}
.parallax.parallax-3 > .table{
    margin:3% auto;padding: 3%;
}
.parallax.parallax-3 > .table tr{
    text-align: left;
    font-size: 4vh;line-height: 150%;color: #fff;font-weight: 700;transition: all 1s;
}
.parallax.parallax-3 > .table tr:hover{
   transform: scale(1.2);background-color: rgba(0,0,0,.7);
}
.content{
    width: 100%;height: 500px;padding: 80px 80px;background-color: #1c1c1c;
    text-align: left;font-size: 3.5vh;font-weight: 700;
}
.content > .left{
    float: left;
}
.content > .right{
    float: left;
}